<div class="container-xl mb-3">
  <app-user-info *ngIf="!this.authService.isAdmin()"></app-user-info>
  <div class="example-button-row d-flex">
    <button class="btn btn-lg m-1"
            (click)="filterProducts('TORTA')"
            [ngClass]="{'btn-secondary': selectedType == 'TORTA', 'btn-primary': selectedType != 'TORTA'}">
      TORTA
    </button>
    <button class="btn btn-lg btn-primary m-1"
            (click)="filterProducts('GELATO')"
            [ngClass]="{'btn-secondary': selectedType === 'GELATO'}">
      GELATO
    </button>
    <button class="btn btn-lg btn-primary m-1"
            (click)="filterProducts('')"
            [ngClass]="{'btn-secondary': !selectedType}">
      Mostra Tutti
    </button>
  </div>
</div>

<app-product-list [products]="filteredProducts"></app-product-list>
<div>
  <mat-paginator [length]="totalFilteredProducts"
                 [pageSize]="6"
                 [pageSizeOptions]="[6, 12, 24, 48]"
                 (page)="onPageChange($event)">
  </mat-paginator>

</div>
