<div class="container-xl mb-3">
  <div class="example-button-row d-flex">
    <button class="btn btn-lg m-1"
            (click)="filterProducts('TORTA')"
            [ngClass]="{'btn-secondary': selectedType == 'TORTA', 'btn-primary': selectedType != 'TORTA'}">
      TORTA
    </button>
    <button class="btn btn-lg btn-primary m-1"
            (click)="filterProducts('GELATO')"
            [ngClass]="{'btn-secondary': selectedType === 'GELATO'}">
      GELATO
    </button>
    <button class="btn btn-lg btn-primary m-1"
            (click)="filterProducts('')"
            [ngClass]="{'btn-secondary': !selectedType}">
      Mostra Tutti
    </button>
  </div>
  <!--<app-user-info *ngIf="!this.authService.isAdmin()"></app-user-info>-->
  <app-user-info></app-user-info>
</div>

<app-product-list [products]="filteredProducts"></app-product-list>

