/* Stile personalizzato per il mat-form-field */
.example-full-width {
  width: 100%;
}

/* Stile personalizzato per la textarea */
.responsive-textarea {
  width: calc(100% - 24px); /* Larghezza della textarea meno il padding del mat-form-field */
  min-width: 300px; /* Larghezza minima desiderata */
  max-width: 600px; /* Larghezza massima desiderata */
  height: 200px; /* Altezza desiderata */
}

/* Stile per il messaggio di conferma */
.confirmation-message {
  margin-top: 20px;
}

/* Stile per i messaggi */
.message {
  font-weight: bold;
}

.secondary-message {
  color: #666;
}
