
::ng-deep.mat-mdc-dialog-surface{
  display: flex;
  justify-content: space-evenly;
}
.wrap-text {
  word-wrap: break-word; /* Per compatibilità con vecchi browser */
  overflow-wrap: break-word; /* Standard moderno */
  width: 325px;
}
