
      <div id="chart-spark1" >
        <apx-chart *ngIf="chartAreaSparkline1Options" 
          #chartspark1
          [series]="chartAreaSparkline1Options.series!"
          [chart]="commonAreaSparlineOptions.chart!"
          [stroke]="commonAreaSparlineOptions.stroke!"
          [yaxis]="commonAreaSparlineOptions.yaxis!"
          [fill]="commonAreaSparlineOptions.fill!"
          [colors]="chartAreaSparkline1Options.colors!"
          [title]="chartAreaSparkline1Options.title!"
          [subtitle]="chartAreaSparkline1Options.subtitle!"
        ></apx-chart>
      </div>
    