<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Gelateria</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="signin" class="nav-link">SignIn</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="userList" class="nav-link">Lista Utenti</a>
      </li>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
