<!--<app-chatbox [isAdmin]="this.isAdmin"></app-chatbox>-->
<div>
  <mat-toolbar class="navbar navbar-expand navbar-light bg-white">
  <a href="#" class="navbar-brand">Gelateria</a>
  <div *ngIf="user">
    <button *ngIf="this.isAdmin" mat-button color="primary" routerLink="userList">Lista Utenti</button>
    <button mat-button color="primary" routerLink="productList">Lista Prodotti</button>
    <button *ngIf="this.isAdmin" mat-button color="primary" routerLink="create-product">Inserisci Prodotto</button>
    <button *ngIf="!this.isAdmin" mat-button color="primary" routerLink="profilo">Profilo</button>
  </div>
    <app-logout *ngIf="this.user && this.isAdmin"></app-logout>
  </mat-toolbar>
</div>
<!-- Router Outlet -->
<div>
  <router-outlet></router-outlet>
</div>
