.mat-button {
  color: black; 
  background-color: yellow !important; 
}

.mat-button:hover {
  background-color: #ffd700 !important; 
}
::ng-deep.pan-menu-desktop li{
  color:#523aeb !important;
}
::ng-deep.pan-menu-desktop li::after{
  background-color: #523aeb !important;
}