<div class="container-xl">
    <mat-expansion-panel [expanded]="true" class="mb-3">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Invio Notifica
            </mat-panel-title>
            <mat-panel-description>
                Apri il panel per Inviare una notifica
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-around" *ngIf="!isAutoset">
            <h2>Ricerca gli ordini di un utente specifico</h2>

            <mat-form-field>
                <mat-label>Username</mat-label>
                <mat-select [(ngModel)]="username">
                    <mat-option *ngFor="let username of utentiUsername" [value]="username.key">
                        {{username.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <mat-select [(ngModel)]="username">
                    <mat-option *ngFor="let email of utentiEmail" [value]="email.key">
                        {{email.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <hr>
        <div>
            <div class="form-floating">
                <textarea class="form-control mb-2" [(ngModel)]="message" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Scrivi un messaggio...</label>
            </div>
            <mat-checkbox [(ngModel)]="isReply">attendi una risposta</mat-checkbox>
            <button class="btn btn-primary w-100" [disabled]="message.length <= 0 || username == ''" (click)="sendNotification()">
                <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
                Invia Notifica
            </button>
        </div>
        <hr>
        <button mat-raised-button color="warn" (click)="ripristina()">Ripristina</button>
    </mat-expansion-panel>
</div>