<div><mat-card>
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="m-0">{{saluto}}</h3>
          <div>
            <button mat-icon-button (click)="viewCart()">
                    <mat-icon>shopping_basket</mat-icon>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-10" *ngIf="cart">
                        {{cart.products.length}}
                    </span>
            </button>
          </div>
          <app-logout></app-logout>
        </div>
    </mat-card-content>
</mat-card></div>
