<div class="container-xl">
    <div class="d-flex flex-column">
        <mat-form-field class="w-50">
            <mat-label>Tipologia Servizio</mat-label>
            <mat-select [(value)]="selectedOrderType" (selectionChange)="createOrderObject()">
                <mat-option *ngFor="let orderType of orderTypes" [value]="orderType.key">
                    {{ orderType.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>Lascia delle note per noi</mat-label>
            <textarea matInput placeholder="Es. Preferirei il gusto cioccolato" (input)="handleInputTextArea($event)"></textarea>
        </mat-form-field>
        <button class="btn btn-primary" (click)="openDialog()">Invia Ordine</button>
    </div>

    <!-- Usa *ngIf per assicurarsi che order sia definito prima di renderizzare il componente -->
    <app-order-details *ngIf="order" [order]="order"></app-order-details>
</div>
