<div class="sfondo-custom">
  <div class="container-xl">
    <div class="container-logo t-l"><img src="assets/media/logo.png" class="logo-login"/></div>
    <div class="container-logo t-r"><img src="assets/media/logo.png" class="logo-login"/></div>
    <div class="container-logo b-l"><img src="assets/media/logo.png" class="logo-login"/></div>
    <div class="container-logo b-r"><img src="assets/media/logo.png" class="logo-login"/></div>
    <div class="container-login">
      <mat-card>
        <mat-card-content>
          <mat-card-title class="mb-4"> 
            
            Sign-In
          </mat-card-title> 
          <form [formGroup]="registrazioneForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
              <label for="username">Username:</label>
              <input type="username" id="username" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': registrazioneForm.controls['username'].invalid && (registrazioneForm.controls['username'].dirty || registrazioneForm.controls['username'].touched) }" />
              <div class="invalid-feedback">Inserisci un'username valida.</div>
            </div>
            <div class="form-group mb-4">
              <label for="email">Email:</label>
              <input type="email" id="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': registrazioneForm.controls['email'].invalid && (registrazioneForm.controls['email'].dirty || registrazioneForm.controls['email'].touched) }" />
              <div class="invalid-feedback">Inserisci un'email valida.</div>
            </div>
  
            <div class="form-group mb-4">
              <label for="password">Password:</label>
              <input type="password" id="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': registrazioneForm.controls['password'].invalid && (registrazioneForm.controls['password'].dirty || registrazioneForm.controls['password'].touched) }" />
              <div class="invalid-feedback">La password deve avere almeno 6 caratteri.</div>
            </div>
  
            <button type="submit" class="btn btn-primary" [disabled]="registrazioneForm.invalid">Registrati</button>
            <div >Sei registrato?<a [routerLink]="'/login'">Accedi</a></div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  </div>