<div class="container-xl">
  <div class="row">
    <div class="custom-card">
      <div class="d-flex justify-content-between">
        <h2 class="text-truncate">Ordine numero: {{ order._id }}</h2>
        <div [innerHTML]="getStatusIcon(order.status.toString()) | statusIconHtml"></div>
      </div>
      <h5>Data ordine: <em>{{ order.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }}</em></h5>
      <h5 *ngIf="!isProfile" >Utente: <em>{{ order.username }}</em> </h5>

      <div>
        <p *ngIf="!isProfile else profile"> Totale prodotti ordinati: <strong>{{ order.productsCount }}</strong></p>
        <ng-template #profile>
          Totale prodotti ordinati: <strong>{{ order.products.length }}</strong>
        </ng-template>
        <!-- indirizzamento di visualizza -->
        <button class="btn btn-primary w-100" [routerLink]="['/orders',order._id]">Visualizza</button>
      </div>
    </div>
  </div>
</div>
