<!-- product-list.component.html -->
<div>
  <div class="example-button-row">
    <button class="button-large" (click)="filterProducts('TORTA')" [ngClass]="{'large': selectedType === 'TORTA'}">TORTA</button>
    <button class="button-large" (click)="filterProducts('GELATO')" [ngClass]="{'large': selectedType === 'GELATO'}">GELATO</button>
    <button class="button-large" (click)="filterProducts('TUTTI')" [ngClass]="{'large': !selectedType}">Mostra Tutti</button>
  </div>

  <mat-grid-list cols="2" rowHeight="1:1">
    <div class="product-container" *ngFor="let product of filteredProducts">
      <mat-grid-tile>
        <div class="product-card">
          <a [routerLink]="['/single-product', product._id]">
            <h3>{{ product.name }}</h3>
          </a>
          <p>{{ product.description }}</p>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
