<!-- product-list.component.html -->
<div>
  <div class="example-button-row">
    <button class="button-large" (click)="filterProducts('TORTA')"
      [ngClass]="{'large': selectedType === 'TORTA'}">TORTA</button>
    <button class="button-large" (click)="filterProducts('GELATO')"
      [ngClass]="{'large': selectedType === 'GELATO'}">GELATO</button>
    <button class="button-large" (click)="filterProducts('')" [ngClass]="{'large': !selectedType}">Mostra Tutti</button>
  </div>
</div>
<app-product [products]="filteredProducts" [selectedType]="selectedType"></app-product>