/* product-list.component.css */
.example-button-row button {
  margin: 5px;
  font-size: 18px;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.example-button-row button.large {
  font-size: 20px;
  padding: 14px 28px;
}
/* product-list.component.css */
.gusticard {
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  max-width: 400px;
}

.gusticard:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.mat-card-header {
  background-color: #f5f5f5;
  padding: 10px;
}
/* product-list.component.css */
.mat-grid-list {
  max-width: 1200px;
  margin: 0 auto;
}

.product-container {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  box-sizing: border-box;
}
/* product-list.component.css */
mat-progress-bar {
  height: 8px;
  background-color: #f5f5f5;
}

.mat-progress-bar-fill {
  background-color: #007bff;
}
