<div class="product-list">
  <section>
  <div class="example-button-row">
    <button class="button-large">TORTA</button>
  </div>
  <h1 class="text-center">Lista Prodotti</h1>
  <div class="example-button-row">
    <button class="button-large">GELATO</button>
  </div>
  </section>
</div>
<div>
  <mat-grid-list cols="2" rowHeight="1:1">
    <div class="product-container" *ngFor="let product of products">
      <mat-grid-tile>
        <div class="product-card">
          <a [routerLink]="['/single-product', product._id]">
            <h3>{{ product.name }}</h3>
          </a>
          <p>{{ product.description }}</p>
        </div>
      </mat-grid-tile>
    </div>
    <mat-grid-tile> TORTA </mat-grid-tile>
  </mat-grid-list>
</div>

