<div class="container-xl">
  <div class="row">
    <div class="col-md-4"> <!-- Imposta la larghezza del form a metà del contenitore -->
      <mat-form-field>
        <input type="text" matInput placeholder="Filtra per nome" [(ngModel)]="selectedUserName" (ngModelChange)="filterData()">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let user of users" [value]="user">
            {{ user.username }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="col-md-4"> <!-- Imposta la larghezza del form a metà del contenitore -->
      <mat-form-field>
        <mat-label>Filtra per stato ordine</mat-label>
        <mat-select [(ngModel)]="selectedOrderStatus" (ngModelChange)="filterData()">
          <mat-option value="">Tutti</mat-option>
          <mat-option value="inAttesa">In attesa</mat-option>
          <mat-option value="rifiutato">Rifiutato</mat-option>
          <mat-option value="accettato">Accettato</mat-option>
          <mat-option value="lavorazione">Lavorazione</mat-option>
          <mat-option value="terminato">Terminato</mat-option>
          <mat-option value="consegnato">Consegnato</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4"> <!-- Imposta la larghezza del form a metà del contenitore -->
      ORDINI VISUALIZZATI: {{filteredOrders.length}}
    </div>
  </div>

  <table  *ngIf="selectedUserName.length >= 3" mat-table [dataSource]="users" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<app-list-order [orders]="filteredOrders"></app-list-order>

