<div class="container-xl">
  <mat-expansion-panel [expanded]="true" class="mb-3">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Movimenti
      </mat-panel-title>
      <mat-panel-description>
        Apri il panel per controllare i movimenti
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h2>Movimenti</h2>
    <form (ngSubmit)="getStocks()">
      <div class="d-flex justify-content-around mt-2 mb-2">
        <label>
          Data Inizio:
          <input class="form-control" [(ngModel)]="startDate" name="startDate" type="date" />
        </label>
        <label>
          Data Fine:
          <input class="form-control" [(ngModel)]="endDate" name="endDate" type="date" />
        </label>
      </div>
      <button class="btn btn-primary w-100" type="submit">Visualizza Movimenti</button>
    </form>

    <table class="table table-striped mb-4">
      <thead>
        <tr>
          <th>Data</th>
          <th>Tipo Movimento</th>
          <th>Ingrediente</th>
          <th>Quantità</th>
          <th>Misura</th>
          <th>Prezzo (€)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{ stock.insertDate | date }}</td>
          <td>{{ stock.typeMovement }}</td>
          <td>{{ stock.ingredient.name }}</td>
          <td>{{ stock.movementQuantity }}</td>
          <td>{{ stock.ingredient.meauserement }}</td>
          <td>{{ stock.price.toFixed(2) }}</td>
        </tr>
      </tbody>
    </table>
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="allStocks.length"
      [pageSize]="pageSize" [pageSizeOptions]=" pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
  </mat-expansion-panel>
  <app-stock-add (sendMovimento)="reciveMovimento($event)"></app-stock-add>
</div>