<p>orders works!</p>
<div class="container-xl">
  <div class="row">
    <div *ngFor="let order of bestProducts;  let i = index " class="col-md-4">
      <div class="custom-card">
        <div class="d-flex justify-content-between">
          <h2>Ordine {{bestProducts.length - i}}</h2>
        </div>
        <h5>numero: <em>{{order._id}}</em></h5>
        <div>
          <p>Totale prodotti ordinati: <strong>{{bestProducts.length}}</strong></p>
          <button class="btn btn-primary w-100">Visualizza</button>
        </div>
      </div>
    </div>
  </div>
</div>
