<div class="container-xl">
  <app-user-info></app-user-info>
  <div class="row" style="padding: 20px 0;">
    <div class="col-md-4" *ngFor="let product of bestProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
<div class="container-xl">
  <div class="row">
    <div class="col-md-4" *ngFor="let order of myOrdersView">
      <app-orders [order]="order" [isProfile] = "true"></app-orders>
    </div>
  </div>
</div>
<div>
  <mat-paginator [length]="myOrdersTotal.length"
                 [pageSize]="3"
                 [pageSizeOptions]="[3, 6, 12]"
                 (page)="onPageChange($event)">
  </mat-paginator>

</div>
