<div *ngIf="isAdmin">
    <mat-tab-group>
        <mat-tab label="CIAO VALE">
            <div class="mt-3 container">
                <h4>Questi sono i tuoi principali elementi</h4>
                <div class="col-md-12">
                    <div class="row">
                        <div class=" col-md-6 mb-4">
                            <button class="bottoni-custom" [routerLink]="'productList'">
                                <fa-icon [icon]="['fas', 'igloo']"></fa-icon>
                                <p class="btn-text">Visualizza Prodotti</p>
                            </button>
                        </div>
                        <div class=" col-md-6 mb-4">
                          <button class="bottoni-custom" [routerLink]="'create-product'">
                            <fa-icon [icon]="['fas', 'ice-cream']"></fa-icon>
                            <p class="btn-text">Crea Nuovo Prodotto</p>
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
