<div class="sfondo-custom">
<div class="container-xl">
  <div class="container-logo t-l"><img src="assets/media/logo.png" class="logo-login"/></div>
  <div class="container-logo t-r"><img src="assets/media/logo.png" class="logo-login"/></div>
  <div class="container-logo b-l"><img src="assets/media/logo.png" class="logo-login"/></div>
  <div class="container-logo b-r"><img src="assets/media/logo.png" class="logo-login"/></div>
  <div class="container-login">
    <mat-card>
      <mat-card-content>
        <mat-card-title class="mb-4"> 
          
          Login
        </mat-card-title> 
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-4">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched) }" />
            <div class="invalid-feedback">Inserisci un'email valida.</div>
          </div>

          <div class="form-group mb-4">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched) }" />
            <div class="invalid-feedback">La password deve avere almeno 6 caratteri.</div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Accedi</button>
          <div >Non sei registrato?<a [routerLink]="'/sign-in'">Registarti</a></div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>