<div class="container-xl">
  <p *ngIf="products.length != 0; else noItems">ECCO IL TUO CARRELLO
    <button class="btn btn-danger ms-2" (click)="this.emptyCart()">Svuota carrello</button>
  </p>
  <ng-template #noItems><h3>Non è stato ancora aggiunto nessun articolo al tuo carrello!</h3></ng-template>
  <div class="row mt-2">
    <div class="col-md-4" *ngFor="let product of products">
      <app-product-card [product]="product" [isViewCarrello]="true" (itemRemoved)="reloadCart()"></app-product-card>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button mat-raised-button color="accent" [routerLink]="'/productList'">
      Torna alla lista dei prodotti
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-raised-button color="primary" [routerLink]="'/order'" [disabled]="products.length == 0">
      Procedi all'ordine
      <mat-icon>navigate_next</mat-icon>
    </button>

  </div>
</div>