<div class="container-xl" *ngIf="productsLoaded">
  <div class="row col-md" *ngIf="order">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ID Ordine {{ order._id }}</mat-card-title>
        <mat-card-subtitle>Hai richiesto: {{ order.orderType }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <!-- Utilizza una nuova row per visualizzare i prodotti -->
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <app-product-card [product]="product" [isViewCarrello]="false"></app-product-card>
    </div>
  </div>
</div>
