/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg-wait{
    background-color: rgb(172, 172, 56)!important;
    color: white;
}
.bg-reject{
    background-color: red;
    color: white;
}
.bg-accept{
    background-color: green;
    color: white
}
.bg-working{
    background-color: yellow;
    color: white;
}
.bg-terminated{
    background-color: green;
    color: white;
}
.bg-shipped{
    background-color: gray;
    color: white;
}
