<div class="container-xl d-flex align-items-center flex-column" *ngIf="order">
    <h1>Ordine: <strong>{{order._id}}</strong></h1>
    <h3>
        Articoli Ordinati:
        <app-product-list></app-product-list>
    </h3>
    <div>
        <h4>Stato dell'ordine</h4>
        <mat-form-field>
            <mat-label>Stato</mat-label>
            <mat-select [(ngModel)]="order.status">
                <mat-option *ngFor="let state of orderStates" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div>
        <button mat-raised-button color="primary">Salva Modifiche</button>
    </div>
</div>