<div class="container-xl" *ngIf="orderedProducts.length > 0">

    <mat-accordion class="mb-2" multi>
        <!-- Ordine -->
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ID Ordine {{ order._id }}
                </mat-panel-title>
                <mat-panel-description>
                    Tipo di consegna: {{ order.orderType }}
                </mat-panel-description>
                <mat-panel-description *ngIf="!authService.isAdmin()">
                    Stato attuale dell'ordine: {{ order.status }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Note dell'ordine-->
            <div>
                <!-- Modifica dello stato dell'ordine -->
                <div *ngIf="authService.isAdmin()">
                    <mat-form-field>
                        <mat-label>Stato dell'ordine</mat-label>
                        <mat-select [(ngModel)]="order.status">
                            <mat-option *ngFor="let state of orderStates" [value]="state">{{ state }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <p>Data creazione ordine: {{order.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                <p>Data fine ordine: {{order.closingDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                <p>Data spedizione ordine: {{order.shippingDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                <hr>
                <h4>Note:</h4>
                <p>{{order.note == null? 'Non ci sono note...':order.note }}</p>
                <hr>
                <button mat-raised-button color="accent" (click)="contattaCliente()"
                    *ngIf="this.authService.isAdmin()">Contatta il cliente</button>

                <hr>
            </div>
        </mat-expansion-panel>

        <!-- Prodotti -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Prodotti
                </mat-panel-title>
                <mat-panel-description>
                    Totale prodotti: {{ order.products.length }}
                </mat-panel-description>
                <mat-panel-description>
                    Totale: {{total.totPrice.toFixed(2)}}€
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Prodotti -->
            <div>
                <div class="d-flex mb-2 justify-content-end align-items-start">
                    <!-- tipo di visulizzazione -->
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                        <mat-button-toggle value="false" aria-label="card mode" [checked]="!isTableMode"
                            (click)="isTableMode = false" [matTooltip]="'visualizza carte'">
                            <mat-icon>drag_indicator</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle value="true" aria-label="table mode" [checked]="isTableMode"
                            (click)="isTableMode = true" [matTooltip]="'visualizza tabella'">
                            <mat-icon>horizontal_split</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="row" *ngIf="!isTableMode; else tableMode">
                    <div class="col-md-4" *ngFor="let product of orderedProducts">
                        <app-ordered-product [orderedProduct]="product"
                            [isTableMode]="isTableMode"></app-ordered-product>
                    </div>
                    <div>
                        <hr>
                        <div class="d-flex flex-column">
                            <b>TOTALE:</b>
                            <div>
                                <b>Tot. Qta. ordinate: {{total.totQuantity}}</b>
                            </div>
                            <div>
                                <b>Tot.: {{total.totPrice.toFixed(2)}}€</b>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="mt-2">
        <div class="d-flex justify-content-between">
            <button mat-button routerLink="/orders">Torna alla lista</button>
            <button mat-raised-button color="primary" (click)="updateOrder()" *ngIf="this.authService.isAdmin()">Salva
                Modifiche</button>
        </div>
    </div>
</div>


<ng-template #tableMode>
    <div class=" table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipo</th>
                    <th scope="col" class="text-end">Prezzo Unitario</th>
                    <th scope="col" class="text-end">Quantità Ordinata</th>
                    <th scope="col" class="text-end">TOTALE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of orderedProducts">
                    <td>{{product.name}}</td>
                    <td>{{product.type}}</td>
                    <td class="text-end">{{product.price.toFixed(2)}}€</td>
                    <td class="text-end">{{product.quantity}}</td>
                    <td class="text-end">{{(product.price*product.quantity).toFixed(2)}}€</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th [colSpan]="3">Riepilogo Totale:</th>
                    <th class="text-end">{{total.totQuantity}}</th>
                    <th class="text-end">{{total.totPrice.toFixed(2)}}€</th>
                </tr>
            </tfoot>
        </table>
    </div>
</ng-template>