.spinner {
    --radius: 33.6;
    --size: 16.8;
    position: relative;
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
 }
 
 .spinner div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #474bff;
    border-radius: 50%;
    transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px));
    animation: spinner-19rk4d 1.5s calc(var(--delay) * 1.2s) infinite ease;
 }
 
 .spinner div:nth-child(1) {
    --angle: 45;
    --delay: 0.1;
 }
 
 .spinner div:nth-child(2) {
    --angle: 90;
    --delay: 0.2;
 }
 
 .spinner div:nth-child(3) {
    --angle: 135;
    --delay: 0.3;
 }
 
 .spinner div:nth-child(4) {
    --angle: 180;
    --delay: 0.4;
 }
 
 .spinner div:nth-child(5) {
    --angle: 225;
    --delay: 0.5;
 }
 
 .spinner div:nth-child(6) {
    --angle: 270;
    --delay: 0.6;
 }
 
 .spinner div:nth-child(7) {
    --angle: 315;
    --delay: 0.7;
 }
 
 .spinner div:nth-child(8) {
    --angle: 360;
    --delay: 0.8;
 }
 
 @keyframes spinner-19rk4d {
    0%, 30%, 50%, 100% {
       transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 0px)) scale(0);
    }
 
    40% {
       transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
    }
 }