/* Stile generale */
.chatbox-main {
  width: 300px;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 10px;
  border: 3px solid #007bff;
  border-radius: 5px;
}

/* Stile del display dei messaggi */
.chatbox-display {
  flex-grow: 1;
  background-color: #6ab0f3; /* Colore più chiaro per lo sfondo */
  padding: 10px;
  color: white;
  overflow-y: auto;
}

/* Stile dell'area di input */
.chatbox-input {
  width: 100%;
  display: flex;
  flex-direction: row; /* Per posizionare gli elementi sulla stessa riga */
  align-items: center; /* Per centrare verticalmente gli elementi */
  padding: 10px;
}

/* Stile della textarea */
textarea {
  flex: 1; /* Per far espandere la textarea quanto possibile */
  resize: none;
  padding: 10px;
  margin-right: 10px; /* Margine a destra per separare la textarea dal bottone */
}

/* Stile del bottone di invio */
.chatbox-button {
  margin-left: auto; /* Per spingere il bottone alla fine della riga */
}

/* Stile dell'icona di chiusura */
.chatbox-display-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

/* Stile dell'icona di apertura */
.chatbox-display-open {
  position: fixed;
  right: 10px;
  bottom: 100px;
  cursor: pointer;
  z-index: 999;
}

/* Stile del testo per le nuove notifiche */
.new-message {
  color: #e74c3c;
  font-weight: bold;
}

/* Stile dei messaggi */
.message {
  margin: 5px 0;
}

/* Stile del mittente */
.message-from {
  font-weight: bold;
  color: #2c3e50;
}
.service-message{
  color: gray;
}
