<div class="chatbox-display-open" *ngIf="!showBox" (click)="displayBox()">
  <mat-icon [style.color]="this.chatIconActive ? 'red' : 'primary'">chat</mat-icon>

</div>

<div class="chatbox-main" *ngIf="showBox">
  <div class="chatbox-header p-2">

    <p class="fs-3 fw-5 text-center">CHAT</p>
    <div *ngIf="isAdmin">
      <div><input type="checkbox" [(ngModel)]="onlineFilter" (click)="updateFilterOnline()"> Solo online</div>
      <div class="chatbox-user">
        <select [(ngModel)]="destinatario" (change)="filterMessages()">
          <option *ngFor="let user of listaDestinatari" value="{{user.username}}"
            [ngClass]="{'new-message': user.newMessages}">{{user.username}}
          </option>
        </select>
        <span *ngIf="this.newMessage">Nuovo messaggio</span> <!-- nel menu filtro -->
      </div>
    </div>
    <div *ngIf="!isAdmin">
      <h3 class="text-center">{{destinatario}}</h3>
    </div>
  </div>

  <div class="chatbox-display">
    <div class="chatbox-display-close" (click)="closeBox()" matTooltip="Chiudi CHAT">
      <mat-icon style="color: #e74c3c">close</mat-icon>
    </div>

    <p *ngFor="let m of displayMessages" class="message">
      <span *ngIf="m.from.username != '_service_'">
        <div class="d-flex align-items-start flex-column me-4"
          *ngIf="this.sender.username != m.from.username && m.from.username == destinatario">
          <b style="color: black;">{{m.from.username}}:</b>
          <span class="bg-primary p-2 rounded"> {{m.content}}</span>
        </div>
        <div class="d-flex align-items-end flex-column ms-4"
          *ngIf="this.sender.username != m.from.username && m.from.username != destinatario">
          <b style="color: black;">{{m.from.username}}:</b>
          <span class="bg-info p-2 rounded"> {{m.content}}</span>
        </div>
        <div class="d-flex align-items-end flex-column ms-4" *ngIf="this.sender.username == m.from.username">
          <span class="bg-secondary p-2 rounded"> {{m.content}}</span>
        </div>
      </span>
      <!-- <span [ngClass]="{'service-message': m.from.username == '_service_'}">{{m.content}}</span> -->
    </p>
  </div>
  <!-- *ngIf="(messages.length > 0 || !(messages.length == 0 && isAdmin))"-- bloocare admin che parli per primo -->
  <div *ngIf="(messages.length > 0 || !(messages.length == 0 && isAdmin))" class="p-2">

    <div class="input-group mb-3">
      <div class="form-floating">
        <textarea class="form-control" [(ngModel)]="message" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Scrivi un messaggio...</label>
      </div>
      <span class="input-group-text" (click)="sendMessage()" matTooltip="Invia"><fa-icon
          [icon]="['fas', 'paper-plane']"></fa-icon></span>
    </div>

    <button mat-raised-button color="warn" *ngIf="isAdmin" class="w-100" (click)="deleteMessage()">Elimina chat</button>

  </div>
</div>
