<!-- product-list.component.html -->
<div class="container-xl">
  <div class="example-button-row d-flex justify-content-between">
    <button class="btn  btn-lg" (click)="filterProducts('TORTA')" [ngClass]="{'btn-seco ndary': selectedType == 'TORTA','btn-primary': selectedType != 'TORTA'}">TORTA</button>
    <button class="btn btn-primary btn-lg" (click)="filterProducts('GELATO')"
            [ngClass]="{'secondary': selectedType === 'GELATO'}">GELATO</button>
    <button class="btn btn-primary btn-lg" (click)="filterProducts('')" [ngClass]="{'secondary': !selectedType}">Mostra Tutti</button>
  </div>
</div>

<div class="container-xl">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of filteredProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
