<!-- <app-line-graph></app-line-graph> -->
<div class="container-xl">
    <div>
        <form (ngSubmit)="getStatistics()">
            <div class="d-flex justify-content-around mt-2 mb-2">
                <label>
                    Data Inizio:
                    <input class="form-control" [(ngModel)]="startDate" name="startDate" type="date" />
                </label>
                <label>
                    Data Fine:
                    <input class="form-control" [(ngModel)]="endDate" name="endDate" type="date" />
                </label>
            </div>
            <button class="btn btn-primary w-100" type="submit">Visualizza Statistiche</button>
        </form>
        <div class="row mt-4">
            <div class="col-md-6" *ngIf="countsArray.length > 0 && isTotalLoaded; else loader">
                <app-area-chart [total]="TotaleVendite" [data]="countsArray"></app-area-chart>
            </div>
            <div class="col-md-6" *ngIf="isExpensesLoaded; else loader">
                <app-area-chart [total]="TotaleSpese" [data]="Movements"></app-area-chart>
            </div>
            <div class="d-flex w-100 justify-content-center align-items-center mt-5 flex-column"
                *ngIf="isExpensesLoaded && isTotalLoaded">
                <h1>Il tuo Profitto</h1>
                <h1 style="font-size: 3em; font-weight: 600;" [ngClass]="{'text-danger':(TotaleVendite-TotaleSpese < 0),
            'text-success':(TotaleVendite-TotaleSpese > 0),
            'text-warning':(TotaleVendite-TotaleSpese == 0)}">€ {{(TotaleVendite-TotaleSpese > 0?'+':'')}}{{
                    (TotaleVendite-TotaleSpese).toFixed(2)}}</h1>
            </div>
        </div>
    </div>
    <ng-template #loader>
        <div class="col-md-6">
            <app-loader></app-loader>
        </div>
    </ng-template>
    <!-- <app-stock-list></app-stock-list> -->
</div>