<div class="container">
  <h2>Queste sono le tue notifiche</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">N° Ordine</th>
      <th scope="col">Messaggio</th>
      <th scope="col">Data</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let notification of notificationsView">
      <td (click)="openDetail(notification.orderId)" style="cursor: pointer;">{{ notification.orderId }}</td>
      <td>{{ notification.message }}</td>
      <td>{{ notification.notifyDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      <td>
        <div class="d-flex justify-content-between align-items-center">
          <button class="btn btn-primary mr-1" (click)="openDetail(notification.orderId)">Visualizza</button>
          <button class="btn btn-danger" (click)="deleteNotification(notification._id)">
            <i class="material-icons md-18">delete</i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <mat-paginator [length]="notifications.length"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
