<!-- notification-list.component.html -->
<div class="container">
  <h2>Le tue notifiche</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">N° Ordine</th>
      <th scope="col">Messaggio</th>
      <th scope="col">Data</th>
      <!-- Aggiungi altre colonne se necessario -->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let notification of notifications">
      <td>{{ notification.orderId }}</td>
      <td>{{ notification.message }}</td>
      <td>{{ notification.notifyDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      <button class="btn btn-primary w-100" (click)="openDetail(notification.orderId)">Visualizza</button>
      <!-- Aggiungi altre colonne se necessario -->
    </tr>
    </tbody>
  </table>
</div>
